@use     '../../../styles.scss' as style  ;
//@use '@angular/material' as mat;



.footer {
    display: flex;
    padding: 10px;
    background : style.$accent-darker-color;
    min-height: 20px;
    color: style.$text-accent-darker-color;
   // align-items: center;
  }
  .copirate{
    display: flex;
    //align-self: center;
  
  }
  .nav_link{
    color: style.$text-accent-darker-color;
    &:hover {
        border-radius: 10%;
        color: style.$accent-lighter-color;
      }

  }