<div class="c-1 _container mat-typography">
    <div class="c-2">
        <h1>Info</h1>
        <p style="background-color: yellow;">это приложение написано с использованием pwa(Progressive Web Application) технологии разработки</p>
      <h3>Что такое PWA?</h3>
      
      <p>PWA или Progressive Web Application – технология, которая позволяет клиентам установить ваш сайт на смартфон как приложение. На русский язык переводиться как «прогрессивное веб-приложение».

        Теперь не нужно разрабатывать отдельно сайт, приложение под iOS и приложение под Android. Достаточно иметь и поддерживать только сайт.</p>
      <p style="background-color: yellow;" >Работает без интернета</p>
    </div>
  </div>
  