<x01-v1-header></x01-v1-header>
<p>appp</p>
<div
  name="main"
  class="_conteiner"
  [ngClass]="{
    'grid-container2': _flagPanel,
    'grid-container1': !_flagPanel
  }"
>
  <div class="sidenav" [ngClass]="{ hiden: !_flagSideBarHiden }">
    <div class="sidenav-header" (click)="onSideBarVisible()">
      <div style="height: 24px">
        <span
          >
          <menu></menu>
        </span>
      </div>
    </div>

    <x01-v1-sidebar> </x01-v1-sidebar>
  </div>

  <div class="main_content">
    <!-------------------------------------------------------- start  main content-->
    <router-outlet></router-outlet>
  </div>
  <x01-v1-footer></x01-v1-footer>
  <!----------------- create end-->
</div>

